./email/settings.json
./email/venv/
./email/env/
./email/.env/
./email/.vscode/
./email/__pycache__/

email/settings.json
email/.vscode/settings.json
email/.vscode/launch.json
/.vs/api-manager/v15
/showcase/.vs/showcase/v15
/showcase/venv
*.sln
*.pyproj
/showcase/settings.json
/showcase/showcase/__pycache__
/showcase/showcase.pyproj.user
/email/.vs/email/v15
/email/email_api/__pycache__
/email/venv
